fastapi
uvicorn
python-dotenv
llama-index
llama-index-llms-groq
llama-index-embeddings-fastembed
fastembed
supabase
llama-index-vector-stores-supabase
numpy==1.26.4
tabulate
Click>=6.0
Pillow
python-multipart
setuptools<81