fastapi
uvicorn
python-dotenv
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
faiss-cpu
supabase
--extra-index-url https://download.pytorch.org/whl/cpu
torch
numpy==1.26.4
tabulate
Click>=6.0
Pillow
python-multipart
setuptools<81